{% extends "base.html" %}

{% block content %}
{{ super() }}

<div style="position: fixed; bottom: -10px; right: 0px; width: 250px; height: 250px; animation: spin 6s ease-in-out infinite; z-index: 999;">
  <img src="/assets/molecule.svg" width="300" height="300">
</div>

<div style="position: fixed; bottom: 150px; left: 20px; width: 300px; height: 300px; animation: floatSpin 6s ease-in-out infinite; z-index: 999;">
  <img src="/assets/hexagon.svg" width="300" height="300">
</div>

{% endblock %}